* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  align-items: baseline;
}

li {
  list-style-type: none;
}

button {
  background-color: #3882F6;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
}

/* header section */
.header {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  padding: 12px;
  gap: 100px;
  align-items: center;
}

.top-header {
  display: flex;
  gap: 40px;
  font-size: 18px;
  color: #E5E7EB;
  width: 900px;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
  flex-grow: 1;
}

.splash-box {
  display: flex;
  width: 900px;
  margin-bottom: 80px;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 12px;
  align-items: baseline;
}

.headline-text {
  font-size: 48px;
  font-weight: 900;
  color:#F9FAF8;
}

.sub-headline-text {
  font-size: 18px;
  color: #E5E7EB;
}

.splash-image {
  width: 400px;
}

/* information section */
.information {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  justify-content: space-around;
  padding: 40px;
  align-items: center;
}

.information-headline {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  width: 900px;
}

.cards {
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
  width: 900px;
}

.individual-card {
  flex: 0 0 140px;
}

.individual-card > img {
  border: 4px solid #3882F6;
  border-radius: 6px;
  width: 100%;
}

/* quotation section */
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E7EB;
  padding: 40px;
}

.text-of-quote {
  width: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 700px;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
}

.attribution {
  width: 400px;
  text-align: end;
  width: 700px;
  font-weight: bolder;
}

/* sign up section */
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  font-weight: bold;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}