* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.splash-image {
  width: 400px;
}



.header {
  display: flex;
  flex-direction: column;
}

.top-header {
  display: flex;
  gap: 10px;
}

.logo {
  flex-grow: 1;
}

.intro-section {
  display: flex;
}

.information {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cards {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

img {
  width: 100%;
}

.individual-card {
  flex: 0 0 200px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-of-quote {
  width: 400px;
  flex-grow: 0;
  flex-shrink: 0;
}

.attribution {
  width: 400px;
  text-align: end;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}